*, *::before, *::after {
    box-sizing: border-box;
    font-family: Cambria;
}


body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 42, 223);
}

.container {
    width: 800px;
    height: 300px;
    max-width: 80%;
    background-color: rgb(217, 42, 240);
    border-radius: 6px;
    padding: 12px;
    box-shadow: 0 0 10px 2px;

}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 12px;
    margin: 20px 0;
}

.btn {
    border: 1px solid;
    border-radius: 6px;
    padding: 5px 10px;
    color: black;
    outline: none;
}


.btn:hover {
    border-color: rgb(166, 109, 192);
    font-weight: bold;
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}